* {
    /*outline: 1px solid orange;*/
    margin: 0;
    padding: 0;
}

:root {
    --header-background: rgb(238, 243, 247);
    --selected-text-bars-and-unselected-icons: rgb(191, 204, 216);
    --regular-text-and-selected-icons: rgb(119, 135, 148);
    /*--header-regular-text: rgb(119, 135, 148);*/
    /*--blue-selected-icons-and-body-text: rgb(121, 137, 149);*/
    /*--blue-unselected-icons: rgb(194, 207, 218);*/
    --dark-text: rgb(61, 67, 85);
}
a {
    text-decoration: none;
}
ul {
    list-style-type: none;
}
.bold {
    font-weight: bold;
}
.flex {
    display: flex;
}
.container {
    width: 60rem;
    margin-inline: auto;
}
header {
    background-color: var(--header-background);
}
.navbar {
    justify-content: space-between;
    /* text-transform: uppercase; */
}
.nav {
    align-items: center;
}
.logo {
    font-size: 32px;
}
